@model OnlineMovie.Models.movie_catagory
@{
    ViewBag.Title = "CheckoutDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="logo" style="float: left; margin-right: 20px;">

    <img src=@Model.Movie.movieImage height="600" />
</div>


<div class="banner" style="font-family: 'Montserrat'; float: 'right';">
    <h1>Movie name</h1>
    <p>
        Mysterious and wild-eyed, a new security guard for a cash truck surprises his co-workers when he unleashes precision skills during a heist.
        The crew is left wondering who he is and where he came from.
        Soon, the marksman's ultimate motive becomes clear as he takes dramatic and irrevocable steps to settle a score.
    </p>
    <a href="#" class="btn">Watch Trailer</a>
    <a href="#" class="btn">Book</a>
</div>

